body {
	font: 14px/1.4 Georgia, sans-serif;
	margin: 0;
}

header {
	font: 42px/2 Impact, sans-serif;
	font-style:italic;
	color: black;/*white;*/
	background-color: #BD4932;
	text-shadow: 3px 3px #666;
	text-align: center;
	padding-top: 2%;/*was 8%, too big*/
}

#wrap {
	width: 77%;
	margin: 0 auto;
	background: black;/*#fff;*/
	overflow: auto;
}

#wrap h1{
	font: 30px/2 Impact, sans-serif;
	color: White;/*#666;*/
	-webkit-transition: 3s;
	-moz-transition: 3s;
	transition: 3s;
	padding-left: 1%;
}

#wrap h1:hover{ /*used nav a:hover because with just a:hover, it affected the footer links*/
	font: 40px/1.4 'Gloria Hallelujah', cursive;/*increasing size, font-family and color to show effect*/
	color: yellow;
}

h2, p {
	
	color: White;/*#666;*/
	padding-left: 1%;
}

h2{
	font: 30px/1.4 Impact, sans-serif;
	color: white;
	text-decoration: none;
	-webkit-transition: 3s;
	-moz-transition: 3s;
	transition: 3s;
}

h2:hover { /*used nav a:hover because with just a:hover, it affected the footer links*/
	font: 40px/1.4 'Gloria Hallelujah', cursive;/*increasing size, font-family and color to show effect*/
	color: yellow;
}


footer {
	text-align: center;
	background-color: #BD4932;
	padding-bottom: 1%;
}

footer li {
	display: inline;
	padding: 3.2%;
}

footer a {
	font: 30px/6 Impact, sans-serif;
	font-style:italic;
	color: black;
	text-shadow: 2px 2px #666;
	text-decoration: none;
	-webkit-transition: 3s;
	-moz-transition: 3s;
	transition: 3s;
}

footer a:hover { /*used nav a:hover because with just a:hover, it affected the footer links*/
	font: 40px/1.4 'Gloria Hallelujah', cursive;/*increasing size, font-family and color to show effect*/
	color: yellow;

}

section {
	float: left;
	margin-left: 10px;
	margin-bottom:10px;
	width: 46%;
	border: 1px solid white;
	border-radius: 25px;
	padding: 20px 10px 10px 10px;
}
section img:hover{/*rotates the image when hover over*/
		-webkit-animation: rotation 5s infinite linear;
}
.sidenav {
  float:left;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  -webkit-transition: 3s;
	-moz-transition: 3s;
	transition: 3s;
}

/*.sidenav ul ul a {
  color: red;
}*/

.sidenav a:hover {
  font: 40px/1.4 'Gloria Hallelujah', cursive;/*increasing size, font-family and color to show effect*/
	color: yellow;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

section img {
	float: left;
	padding-right: 1%;
	padding-bottom: 1%;
}
/*transition to increase size of image*/
section img{
	width: 200px;
	height: 150px;
	-webkit-transition: 3s;
	-moz-transition: 3s;
	transition: 3s;
}

img:hover {
	width: 300px;
	height: 250px;
}

aside {
	float: right;
	margin-right:10px;
	width: 46%;
	border: 1px solid white;
	border-radius: 25px;
	padding: 20px 10px 10px 10px;
}

aside img:hover{/*rotates the image when hover over*/
		-webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

aside img {
	float: left;
	padding-right: 1%;
	padding-bottom: 1%;
}

/*transition to increase size of image*/
aside img{
	width: 200px;
	height: 150px;
	-webkit-transition: 3s;
	-moz-transition: 3s;
	transition: 3s;
}

@media screen and (max-width: 768px) {
	header {
	background-color: #14727D;
	font: 22px/2 Impact, sans-serif;
	padding-top: 2%;
	}
	
	#wrap {
	width: 85%;
	margin: 0 auto;
	background: black;
	overflow: auto;
	padding-right: 3%;
	}

	#wrap h1 {
	font: 35px/2 Impact, sans-serif;
	color: white;
	padding-left: 1%;
	}

	nav li {
	display: inline;
	padding: 2%;
	}

	nav a {
	font: 25px/1.4 Impact, sans-serif;
	color: white;
	text-decoration: none;
	}

	section {
	float: none;
	width: 98%;
	margin-bottom: 1%;    /* or just margin? */
	}

	section img {
	padding-bottom: 1px;
	}
	
	aside {
	float: none;
	width: 98%;
	}

	aside img {
	padding-bottom: 1px;
	}

	footer {
	background-color: #14727D;
	}

	footer li {
	padding: 1.5%;
	}

	footer a {
	font: 15px/6 Impact, sans-serif;
	}
}

@media screen and (max-width: 480px) {
	header {
	background-color: #DB9E36;
	font: 16px/2 Impact, sans-serif;
	padding-top: 2%;
	}

	#wrap {
	width: 98%;
	margin: 0 auto;
	}

	#wrap h1 {
	font: 30px/2 Impact, sans-serif;
	color: #666;
	padding-left: 1%;
	}

	h2 {
	font: 22px/1.2 Impact, sans-serif;
	color: #666;
	}

	nav li {
	display: block;
	border-bottom: 1px solid;
	border-color:lightgrey;
	margin-left: -40px;
	margin-right: -40px;
	}

	nav a {
	font: 20px/2 Impact, sans-serif;
	color: #666;
	text-decoration: none;
	}

	section {
	float: none;
	width: 98%;
	margin-bottom: 1%;
	border: none;
	}

	section img {
	display: none;
	}

	aside {
	float: none;
	width: 98%;
	border: none;
	}

	aside img {
	display: none;
	}

	footer {
	background-color: #DB9E36;
	}	

	footer li {
	display: block;
	border-bottom: 1px solid;
	border-color: white;
	margin-left: -40px;
	}

	footer a {
	font: 15px/5 Impact, sans-serif;
	}
}
